body {
	overflow-x: hidden;
}

.review-table {
	border-collapse: collapse;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
	margin-bottom: 100px;
}

.review-table td, .review-table th {
	border: 1px solid #01426a;
	color: #01426a;
}

td {
	background-color: white;
	padding: 10px;
}

.welcome-class {
	color: #01426a;
	text-align: center;
	margin: 50px 0 0 0;
}

.center-btn {
	display: flex;
	position: relative;
	justify-content: center;
}

<<<<<<< HEAD
=======


    .copyright-class {
        /* padding-top: 1em;
        margin: 0;
		text-align: center;
		flex-shrink: 0;
		position: relative;
		bottom: 0;
		width: 100%;
		height: 2.5rem;     */
		/* text-align: center;
		position: relative;
  bottom: 0;
  padding-top: 1em;
  width: 100%;
  height: 2.5rem;    
		background: #1c252e; 
		margin: 0; */
		position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   margin: 0;
   background: #1c252e; 
   padding: 1em;
   text-align: center;

    }
>>>>>>> 7764fef (Add logout functionality and style)
