/*
File: screen.css
Author: Jeremy Krovitz
Description: Styles used for screen media
*/

/* Styles used across all html pages for screen media */
@media screen {
    * {
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
    }

	   html, body {
        margin: 0;
        background-color: #d6eef8;
				width: 100%;
				min-height: 100%;
				position: relative;

				overflow-x: hidden;
				
				
    }

	
/* 
    footer {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        color: #fff;
        background: #1c252e;
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
    } */

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    sup {
        top: -0.5em;
    }

    ul.citations {
		background: #1c252e;
        line-height: 1.6;
        font-size: 0.75em;
		margin-bottom: 0;
		color: #fff;
		padding: 20px;
		border-bottom: 1px solid #ddd;
		word-wrap: break-word;
    }

    footer p,
    footer,
	ul.citations a {
        color: #fff;
    }

    main {
        background-color: #d6eef8;
    }

	a {
		text-decoration: underline;
        text-underline-position: under;
	}

    main a :not(.citations),
    main a:link :not(.citations),
    main a:visited :not(.citations),
	sup a,
	sup a:link,
	sup a:visited {
        color: #0000ff;
    }

    main a:hover :not(.citations),
    main a:focus :not(.citations),
    main a:active :not(.citations),
	sup a:hover,
	sup a:focus, 
	sup a:active {
        padding: 2px;
        border: solid 1px #0000ff;
        background-color: #fff;
    }

    figure {
        display: inline-block;
        background: #fff;
        padding: 15px;
        border: 3px solid #01426a;
        box-shadow: 10px 10px 10px #999;
        position: relative;
        font-size: 0.75em;
    }

    figure > img {
        width: 100%;
    }

    figcaption a:hover,
    figcaption a:focus,
    figcaption a:active {
        border-radius: 2px;
        border: 1px solid #01426a;
        background-color: #fff;
        color: #01426a !important;
    }

    h2,
    h3 {
        margin-left: 2rem;
    }

	table caption {
		font-size: 1.5em;
		display: table-caption;
		text-align: center;
        font-style: italic;
        margin-bottom: 5px;
        color: #01426a;
}


    @media screen and (max-width: 600px) {
        h1 {
            font-size: 1.2em;
        }

        h2 {
            font-size: 1.00em;
        }

        h3 {
            font-size: 0.98em;
        }
		p, td, th, li, a{
			font-size: 0.8em;
		}

		table caption {
			font-size: 0.9.5em;
		}



    }

	#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

    .copyright-class {
        /* padding-top: 1em;
        margin: 0;
		text-align: center;
		flex-shrink: 0;
		position: relative;
		bottom: 0;
		width: 100%;
		height: 2.5rem;     */
		/* text-align: center;
		position: relative;
  bottom: 0;
  padding-top: 1em;
  width: 100%;
  height: 2.5rem;    
		background: #1c252e; 
		margin: 0; */
	
		position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   margin: 0;
   background: #1c252e; 
   padding: 1em;
   text-align: center;

    }

    /* Styles used on history.html, index.html, and tourism.html for screen media */
    .image-row {
        text-align: center;
    }

    .image-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .image-column {
        float: left;
        width: 50%;
        padding: 5px;
        text-align: center;
    }

    @media screen and (max-width: 775px) {
        .image-column {
            width: 98%;
        }
    }

    /* Style used on history.html, population.html, and tourism.html for screen media */
    p {
        margin-left: 2rem;
        color: #000;
    }

    /* Styles used on index.html and tourism.html for screen media */
    video {
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }

    video + figcaption {
        padding-left: 2em;
    }

    video + figcaption,
    video + figcaption a {
        background-color: #2367d3;
        color: #fff !important;
    }

    .video-class {
        width: 70%;
        display: inline-block;
        margin-left: 15%;
        margin-right: 15%;
    }

    .video-class video {
        max-width: 100%;
        height: auto;
        display: block;
    }

    /* Styles used on history.html and tourism.html for screen media */
    .mpls-panorama,
    .spoonbridge-and-cherry {
        width: 80%;
        display: inline-block;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .mpls-panorama img,
    .spoonbridge-and-cherry img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Styles used on history.html for screen media */
    .image-three-column {
        float: left;
        width: 33.33%;
        padding: 5px;
        text-align: center;
    }

    @media screen and (max-width: 775px) {
        .image-three-column {
            width: 98%;
        }
    }

    /* Styles used on index.html for screen media */
    .text-content {
        padding: 2rem;
    }

    .minneapolis-image,
    .saint-paul-image {
        width: 271px;
        height: 141px;
    }

    .minneapolis-image-caption,
    .saint-paul-image-caption {
        width: 271px;
    }

	@media only screen and (max-width: 600px) {
		.minneapolis-image,
		.saint-paul-image {
			width: 135.50px;
			height: 70.50px;
		}

		.minneapolis-image-caption,
    	.saint-paul-image-caption {
        	width: 135.50px;
    	}


	}

    /* Styles used on population.html for screen media */
    #mn-metro-map-figure {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }

    .header-superscript-text {
        font-weight: lighter;
    }

    figure caption {
        font-size: 1.5em;
        font-style: italic;
        margin-bottom: 5px;
        color: #01426a;
    }

    th {
        background-color: #01426a;
        color: #fff;
    }

    td {
        color: #01426a;
    }

    th,
    td {
        border: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #ddd;
    }

    tr:hover,
    th:hover,
    td:hover {
        background-color: #fff;
        border: solid 6px #ff7753;
        color: #ff7753;
    }

    #minneapolis-population,
    #saint-paul-population {
        background: #fff;
        border: 2px inset #01426a;
        display: inline-block;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 50px;
        text-align: center;
        padding-bottom: 20px;
    }

    #minneapolis-population > ul,
    #saint-paul-population > ul {
        padding: 0;
        list-style-position: inside;
    }

    /* Styles used on tourism.html for screen media */
    #moa-section,
    #sculpture-garden-section,
    #guthrie-theater-section {
        padding-bottom: 50px;
    }

    #moa-print-description {
        display: none;
    }

    #moa-image-1,
    #moa-image-2 {
        width: 338px;
        height: 225px;
    }

    .moa-image-caption {
        width: 338px;
    }

	@media only screen and (max-width: 600px) {
		#moa-image-1,
		#moa-image-2 {
			width: 169px;
			height: 112.5px;
			
		}

		.moa-image-caption {
			width: 169px;

		}

		#moa-1-figure,
		#moa-2-figure {
			margin-left: 0;
			margin-right: 0;
		} 
	}

    #walker-art-center-print-description {
        display: none;
    }

    #guthrie-theater-print-description {
        display: none;
    }

    #guthrie-theater-figure {
        display: none;
    }

	form {
		border-radius: 10px;
		padding: 50px;
		background-color: #f2f2f2;
		border: 2px solid #01426a;
		width: 90%;
		margin: 0 auto;
		color: #01426a;
	}	

	.innerFormOutline {
		border: 4px solid #01426a;
		padding: 30px;
	}

	input[type="text"], input[type="password"], textarea {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 2px solid #01426a;
		border-radius: 4px;
		box-sizing: border-box;
	}

	p.hidden,
	.hiddenInput {
		display: none;
	}

	#usernameFeedback,
	#emailFeedback,
	#passwordFeedback {
		width: 60%;
		padding: 8px 12px;
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 10px;
		box-sizing: border-box;
		color: #842029;
		background-color: #f8d7da;
		border-color: #f5c2c7;
	}

	.login {
		position: relative;
		margin: 30px auto;
		padding: 20px 20px 20px;
		width: 500px;
		border-radius: 3px;
	}

	.add-top-margin {
		margin-top: 50px;
	}

	.welcome-class{
		text-align: center;
	}

	.create-post-btn {
		margin: 0 auto;
		padding: 30px;
		display: flex;
		justify-content: center;

	}

	.registration-login-message {
		text-align: center;
	}

	input[type=submit] {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		padding: 14px 20px;
		margin-top: 20px;
	}

	.enabledSubmit {
		color: white;
		background-color: #01426a;
		border: none;
	}

	.disabledSubmit {
		border: 1px solid #999999;
		background-color: #cccccc;
		color: #666666;
	}

	@media only screen and (max-width: 600px) {
		h2 {
			/* font-size: 1em; */
			text-align: center;
			margin-left: 0;
			margin-right: 0;
		}
		form {
			padding: 20px;
			width: 60%;
			display: table-cell;
			text-align: center;
			
		}

		input[type="text"], input[type="password"], textarea{
			padding: 6px 10px;
			margin: 5px 0;
		}

		input[type=submit] {
			padding: 7px 10px;
			font-size: 0.75em;
		}

	.registration-login-message {
		font-size: 0.70em;
		margin: 0;
		}

		.add-margin {
			padding: 50px;
		}

	}

	@media only screen and (max-width: 300px) {
		form {
			width: 10%;
			
			
		}

	}



	.create-post-btn {
		padding: 20px;
		text-align: center;
		background-color: #01426a;
		color: white;
		text-decoration: none;
		border-radius: 5px;
		width: 200px;
		min-width: 180px;
		margin-top: 50px;
	}

	.create-post-btn:hover {
		background-color: white;
		border: 2px solid #01426a;
		color: #01426a;
	}

	#create-post-form {
		margin-bottom: 100px;
		margin-top: 50px;
	}

	.submit-btn {
		margin: 0 auto;
		padding: 30px;
		background-color: #01426a;
		color: white;
		border: none;
		border-radius: 2px;
	}

	.submit-btn:hover {
		background-color: white;
		border: 2px solid #01426a;
		color: #01426a;
	}

	#review-title-feedback,
	#review-description-feedback {
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
		font-size: 0.5em;
		/* text-align: center; */
	}

	#review-page-description {
		color: #01426a;
		margin-bottom: 0;
	}

	#review-page-description-span {
		font-style: italic;
	}

}

